uvicorn
supabase
python-dotenv
langchain
fastapi 
python-dotenv
langchain
langchain-groq
langchain-huggingface 
langchain-pinecone
pinecone-client 
pypdf
sentence-transformers
pydantic
langchain_community
PyPDF2
